
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #D0AFAA;
}

button, form {
    text-align: center;

}

.logo {
    text-align: center;
}


.headline {
    font-size: 300%;
}

#upload {
    object-fit: contain;

}

#upload1 {
    object-fit: contain;
}

h2 {
    font-weight: 200;
    font-size: 10px;
    color: #494A4A;
    display: block;
    padding: 5px 0px 0px 5px;
    text-align: center;

}

.myButton {
    position: relative;
    top: 1px;
    margin: 25px 0;
    padding-bottom: 25px;
}

h1, p {
    font-weight: 200;
    font-size: 10px;
    color: #494A4A;
    display: block;
    padding: 5px 0px 0px 5px;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    color: #ECF0F1;
    text-align: center;
}

.colorPalette {
    position: relative;
    width: 90%;
    margin: 10px;
    padding: 10px 15px;
    display: block;
    text-align: center;
}

.thumbnail {
    position: relative;
    display: block;
    width: 90%;
    overflow: hidden;
    margin: 60px auto 0;
}

.thumbnail1 {
    position: relative;
    display: block;
    width: 90%;
    overflow: hidden;
    margin: 60px auto 0;
}

.thumbnail img {
    display: block;
    width: 100%;
    cursor: crosshair;
    border: 5px solid #116B56;
    margin: 0 auto;
}

.thumbnail1 img {
    display: block;
    width: 100%;
    cursor: crosshair;
    border: 5px solid #116B56;
    margin: 0 auto;
}

#data {
    background: rgba(0, 0, 0, 0.2);
    text-align: left;

}

.result {
    top: 50px;
    /*position: fixed;*/
    left: 0px;
    background: #000;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 10px;
    padding: 10px 15px;
    display: block;
    text-align: center;
}

.result span {
    display: block;
    font-size: 13px;
}

section.container {
    width: 592px;
    height: auto;
    margin: 0 auto;
}

section.container header {
    margin: 25px 0;
    /*padding-bottom: 25px;*/
}

section.container header h1 {
    font-weight: 200;
    font-size: 3em;
    color: #656D78;
    text-align: center;
}

#header {
    margin: 10px 0;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #605E5E;*/
}


.preview {
    position: absolute;
    top: 3px;
    z-index: 1;
    /*right: 1%;*/
    display: block;
    width: 50px;
    height: 50px;
    border: 4px solid #605E5E;
    border-right: 4px solid #605E5E;
    border-top: none;
    padding-bottom: 10px;
}

.preview1 {
    position: absolute;
    top: 3px;
    z-index: 1;
    /*right: 1%;*/
    display: block;
    width: 50px;
    height: 50px;
    border: 4px solid #605E5E;
    border-right: 4px solid #605E5E;
    border-top: none;
    padding-bottom: 10px;
}

#cs {
    display: none;
}

@media (min-width: 768px) {
    .thumbnail {
        width: 85%;
    }

    .thumbnail1 {
        width: 85%;
    }

    flex-container {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .thumbnail {
        width: 55%;
    }

    .thumbnail1 {
        width: 55%;
    }

    flex-container {
        flex-direction: column;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#colorPaletteGroup {
    margin: 25px 0;
    padding-top: 25px;
    /*border-top: 1px solid #AAB2BD;*/
}

#frame {
    padding-top: 25px;
    padding-bottom: 25px;
    max-height: 500px;
    max-width: 500px;
    margin: 115px 0 25px;


}

#frame1 {
    padding-top: 25px;
    padding-bottom: 25px;
    max-height: 500px;
    max-width: 500px;
    margin: 115px 0 25px;

}

#familySection {
    margin-top: 115px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
}


.flex-item-right {
    flex: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }

    #ehud {
        display: block !important;
    }
}


/* Create a responsive, centered, three-column grid. */
.card-container-CodePen {
    align-items: start;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
}

.cardCodePen {
    border-radius: 5px;
    color: white;
    padding: 24px 0 16px;
    text-align: center;
    text-shadow: 1px 1px 0 #555;
}

.fas {
    font-size: 50px;
}

.h1-responsive {
    color: black;
}

.card {
    background: #000;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.featured-services .icon-box::before {
    content: '';
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.featured-services .icon-box:hover::before {
    background: #116B56;
    top: 0;
    border-radius: 0px;
}

.featured-services .icon {
    margin-bottom: 15px;
}

.featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #116B56;
    transition: all 0.3s ease-in-out;
}

.featured-services .title {
    /*font-weight: 700;*/
    margin-bottom: 15px;
    font-size: 18px;
}

.featured-services .title a {
    color: #111;
}

.featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
    color: #fff;
}

.featured-services .icon-box:hover .icon i {
    color: #fff;
}

